@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/geist/geist-sans-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  src: url("./fonts/geist/geist-sans-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("./fonts/geist/geist-mono-latin-500-normal.woff2") format("woff2");
}

@import "tailwindcss" source(none);
@source "../docs/**/*.{html,js,md,mdx}";
@source "../theme/**/*.{ts,tsx}";
@reference "tailwindcss";
@reference "../../src/css/base/base.css";
@import "../../src/css/basecoat-a3s.css";
